<footer class="bg-black ph3 pv4 white">
	<div class="mw7 center pt3">
		<div class="measure-narrow center mb4">
<img src="/img/WWC wordmark xhoriz.png" alt="Women's Wealth Coalition" class="db center mb4 br0" style="height: 120px; width: auto;">			<p class="f3 lh-title light-gray b tc mb2">{{ .Site.Data.footer.title }}</p>
			<p>{{ .Site.Data.footer.blurb }}</p>
			{{ partial "newsletter-form" . }}
		</div>
		<div class="flex-ns justify-between">
			<div>
				<h3 class="f4 b lh-title mb1 primary">Women's Wealth Coalition</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/values" class="link">About</a></li>
					<li><a href="/post" class="link">Blog</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>
			<div>
				<h3 class="f4 b lh-title mb1 primary">Resources</h3>
				<ul class="mb3">
					<li><a href="/post" class="link">Latest insights</a></li>
					<li><a href="/contact" class="link">Get in touch</a></li>
				</ul>
			</div>
			<div>
				<h3 class="f4 b lh-title mb2 primary">Connect</h3>
				<ul class="mb3">
					<li><a href="#" class="link">LinkedIn</a></li>
					<li><a href="#" class="link">Substack</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
