<footer class="bg-black ph3 pv2 white">
	<div class="mw7 center pt1">
<div class="measure-narrow center mb2">
<img src="/img/WWC wordmark xhoriz.png" alt="Women's Wealth Coalition" class="db center br0" style="width: 600px; max-width: 100%;">			{{ partial "newsletter-form" . }}
		</div>
		<div class="flex-ns justify-between">
			<div>
				<h3 class="f4 b lh-title mb1 primary">Women's Wealth Coalition</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/values" class="link">About</a></li>
					<li><a href="/post" class="link">Blog</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>
			<div>
				<h3 class="f4 b lh-title mb1 primary">Resources</h3>
				<ul class="mb3">
					<li><a href="/post" class="link">Latest insights</a></li>
					<li><a href="/contact" class="link">Get in touch</a></li>
				</ul>
			</div>
			<div>
				<h3 class="f4 b lh-title mb2 primary">Connect</h3>
				<ul class="mb3">
					<li><a href="#" class="link">Substack</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
