<div class="bg-grey-1 pv4">
  <div class="ph3 center mw7">
    <h2 class="f3 b lh-title mb3">{{.heading}}</h2>
    <div>
      <p class="mb3">{{.text}}</p>
      {{ with .text2 }}<p class="mb3">{{ . }}</p>{{ end }}
      {{ with .text3 }}<p class="mb3">{{ . }}</p>{{ end }}
      {{ with .text4 }}<p class="mb3">{{ . }}</p>{{ end }}
      {{ with .text5 }}<p class="mb3">{{ . }}</p>{{ end }}
      <div class="flex-ns mt3">
        {{ with .cta1 }}<a href="{{ $.cta1link }}" class="btn raise mr3">{{ . }}</a>{{ end }}
        {{ with .cta2 }}<a href="{{ $.cta2link }}" class="btn raise">{{ . }}</a>{{ end }}
      </div>
    </div>
  </div>
</div>
