::selection {
  background-color: var(--highlight);
}
/* Used in the navbar */
.divider-grey {
  box-shadow: inset 0 -4px 0 var(--grey-1);
  /* Link hover states */
  & a {
    transition: var(--hover-transition);
  }
  & ul a:hover, & ul a:focus {
    box-shadow: inset 0 -4px 0 var(--primary);
  }
}
a {
  color: #708090;
}
a:hover {
  color: #708090;
}
a sup {
  color: #708090;
}
blockquote {
  border-left: 3px solid #B76E79;
  margin: 1.5rem 0;
  padding: 0.5rem 1rem;
  font-size: inherit;
  font-style: normal;
}
blockquote strong {
  font-weight: bold;
}
.cms ul {
  list-style: none;
  padding-left: 0;
}
.cms ul li {
  padding-left: 1.5rem;
  margin-bottom: 8px;
  position: relative;
}
.cms ul li::before {
  content: '\2014';
  color: #B76E79;
  position: absolute;
  left: 0;
}
.cms sup a {
  color: #708090;
  font-size: inherit;
}
