::selection {
  background-color: var(--highlight);
}
/* Used in the navbar */
.divider-grey {
  box-shadow: inset 0 -4px 0 var(--grey-1);
  /* Link hover states */
  & a {
    transition: var(--hover-transition);
  }
  & ul a:hover, & ul a:focus {
    box-shadow: inset 0 -4px 0 var(--primary);
  }
}
a {
  color: #708090;
}
a:hover {
  color: #708090;
}
a sup {
  color: #708090;
}
.cms ul {
  list-style: none;
  padding-left: 0;
}

.cms ul li::before {
  content: '◆';
  color: #B76E79;
  font-size: 10px;
  margin-right: 8px;
  vertical-align: middle;
}
