<a href="{{ .RelPermalink }}" class="no-underline pa3 bg-grey-1 br1 mb2 db raise w-100">
  {{ with .Params.image }}
<img src="/post/{{ $.File.ContentBaseName }}/{{ . }}" alt="{{ $.Title }}" class="w-100 mb2">  <h2 class="f3 b lh-title mb1 primary">{{ .Title }}</h2>
  {{ with .Params.category }}
  <p class="f6 highlight mb1">{{ . }}</p>
  {{ end }}
  <p class="mid-gray lh-title mb2">{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
  <p class="mb0">{{ .Description }}</p>
  <p class="link b dib black mb0">Read more →</p>
</a>
