{{ define "main" }}
  <div class="mw6 center ph3 pv4">
    {{ with .Params.image }}
    <img src="{{ . }}" alt="{{ $.Title }}" class="w-100 mb3" />
    {{ end }}
    <h1 class="f2 lh-title b mb3">{{.Title}}</h1>
    {{ with .Params.category }}
    <p class="f5 highlight mb3">{{ . }}</p>
    {{ end }}
    {{ with .Params.subtitle }}
    <p class="f5 i grey-3 mb3">{{ . }}</p>
    {{ end }}
    <div class="flex justify-between grey-3">
      <p>{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
      <p>Read in {{ .ReadingTime }} minutes</p>
    </div>
    <div class="cms mw6">
      {{ .Content }}
    </div>
    <div class="mt4 pt3 bt b--grey-2">
      <p class="f6 grey-3 i">This blog is intended to inform and educate, not to provide individualized investment, legal, or tax advice. Women's Wealth Coalition is not a registered investment adviser, broker-dealer, or tax professional. For guidance specific to your situation, please consult qualified professional advisers.</p>
    </div>
  </div>
{{ end }}
