{{ define "main" }}
<div class="ph3 bg-off-white">
	<div class="center mw6 pv3">
		<img src="/img/WWC%20logo_transparant.png" alt="Women's Wealth Coalition" class="db center mb4" style="width: 300px; max-width: 100%;">
		<div class="flex-ns mb3">
	        	{{ range .Params.contact_entries }}
				<div class="pr4">
					<h4 class="f4 b lh-title mb2 primary">{{ .heading }}</h4>
					<p>{{ .text }}</p>
				</div>
			{{ end }}
		</div>
		{{ .Content }}
		{{ partial "contact-form" . }}
	</div>
</div>
{{ end }}
