{{ define "main" }}
{{ partial "jumbotron" (dict "imageUrl" "/img/contact-jumbotron.jpg" "title" "Get Involved") }}
<div class="ph3 bg-off-white">
  <div class="center mw6 pv4">
    <p class="mb3">Sign up here to receive more information on how to get involved.</p>
    <script src="https://js-na2.hsforms.net/forms/embed/241915045.js" defer></script>
    <div class="hs-form-frame" data-region="na2" data-form-id="e28c79ed-db23-45bf-9e77-e5612e718c47" data-portal-id="241915045"></div>
    <p class="mt4 pt3 b tc">The future of wealth is here. Women's Wealth Coalition is where women, the next generation, and the industry meet.</p>
  </div>
</div>
{{ end }}
