{{ define "main" }}
{{ partial "jumbotron" (dict "imageUrl" "/img/contact-jumbotron.jpg" "title" "Let's Connect") }}
<div class="ph3 bg-off-white">
  <div class="center mw6 pv4">
    <p class="mb3">To help shape a future where:</p>
    <ul class="mb4 list pl0">
      <li class="mb2 flex items-start"><img src="/img/WWC%20favicon.png" style="width: 16px; height: 16px; margin-right: 10px; margin-top: 4px;">Women feel more confident navigating financial decisions</li>
      <li class="mb2 flex items-start"><img src="/img/WWC%20favicon.png" style="width: 16px; height: 16px; margin-right: 10px; margin-top: 4px;">Next-generation wealth holders are better prepared</li>
      <li class="mb2 flex items-start"><img src="/img/WWC%20favicon.png" style="width: 16px; height: 16px; margin-right: 10px; margin-top: 4px;">The financial industry evolves to meet both with greater clarity and relevance</li>
    </ul>
    <p class="mb4">Consider getting involved with Women's Wealth Coalition. The best collaborations start with real conversation. Use the form below to get in touch and a member of the team will respond.</p>
    {{ partial "contact-form" . }}
    <p class="mt4 pt3 b tc">The future of wealth is here. Women's Wealth Coalition is where women, the next generation, and the industry meet.</p>
  </div>
</div>
{{ end }}
