{{ define "main" }}
{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}
<div class="bg-primary pv3 ph3">
  <div class="mw7 center">
    <p class="white tl mb2">Women's Wealth Coalition convenes women, the next generation, and the financial industry around how people experience wealth and how the industry must evolve to serve them.</p>
    <p class="white tl mb0"><em>For educational purposes only. Not investment advice.</em></p>
  </div>
</div>
{{ partial "short-text" .Params.blurb}}
{{ partial "2-up" .Params }}
{{ partial "blog" . }}
{{ end }}
